QPushButton {

    color: #000;
    background-color: #c0c0c0;
    border-color: #a0a0a0;
    font-size: 16px;
    font-weight: 600;
    spacing: 0.025em;
    border-radius: 0.125em;
    padding: 0.6em 32px;
    max-height: 37px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;

}
QPushButton:pressed {
    border-color: #a0a0a0;
}
